<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Java Script</title>
    </head>
    <body>
        <!-- <script type="text/javascript">
            alert("Olá Mundo")
        </script> -->
        <h1 onmouseover="alert('Opa')">Hello World</h1>
        <button onclick="while(true){alert('Travou xD')}">Não clique aqui</button>
        <button onclick="meuCodigo()">Clique aqui</button>
        <script src="introjs.js"></script>
    </body>
</html>