body {
    background-color: #121214;
    padding: 0.25rem;
    max-width: 400px;
    margin: 0 auto;
    text-align: justify;
    color: aliceblue;
}

.div1 {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 4px black dotted;
}

.div2 {
    background-color: coral;
}

span {
    background-color: orange;
    border: 2px black solid;
    border-radius: 50%;
    padding: 2px;
}

h2 {
    text-align: center;
}

div {
    text-align: center;
    padding: 0.25rem;
    max-width: 400px;
    margin: 0 auto;
}

section {
    background-color: gray;
    border-radius: 10%;
    height: 425px;
}

.div3 {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 90px;
    padding-left: 40px;
    border-top: 30px black solid;
    border-right: 10px blueviolet dotted;
    border-bottom: 30px red dashed;
    border-left: 20px fuchsia groove;
    margin: center;
}

.p2 {
    width: 150px;
    height: 150px;
    background-color: orange;
}