<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="icon" href="../assets/images/World.jpg">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 id="home">Hello World</h1>
    <hr class="linha" >
    <br>
    <a href="page1.html">
    <img class="imagem" src="../assets/images/wallpaperflare.com_wallpaper.jpg" alt="World Image">
    </a>
    <br>
    <br>
<div>
    <h2>Páginas</h2>
    <br>
    <ul><li>
    <!-- link relativo -->
    <a href="page1.html">Página 1</a>
    </li></ul>
</div>
    <br>
    <br>
<div>
    <h2>Índice</h2>
    <ul class="lista"> <!-- Unsorted list -->
        <li><a href="#world1">World 1</a></li> <!-- List Item -->
        <li><a href="#world2">World 2</a></li>
        <li><a href="#world3">World 3</a></li>
    </ul>
    <br>
<!--
    <ol class="lista2">  (ol = Order list) 
        <li>Página 1</li>  (li = List Item) 
        <li>Página 2</li>
        <li>Página 3</li>
    </ol>
-->
</div>
    <hr class="linha">
    
    <div>
        <!-- Atributos -->
        <h2 id="world1">World 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam ducimus culpa explicabo aspernatur voluptatem tempora? Id obcaecati consectetur autem quod dolore adipisci perspiciatis vitae beatae, nulla sed placeat debitis?</p>
        <h5><a href="#home">🏠Home</a></h5>
        <br>

        <h2 id="world2">World 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta nobis consequatur maiores error illum nam commodi, consectetur explicabo suscipit nesciunt ea repellat nisi consequuntur! Debitis, quaerat. Laudantium, odit placeat?</p>
        <h5><a href="#home">🏠Home</a></h5>
        <br>

        <h2 id="world3">World 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit molestias dolorum, dignissimos labore soluta earum corporis vel esse vero quo sit neque eveniet commodi fuga nostrum reiciendis iusto accusantium sint.</p>
        <h5><a href="#home">🏠Home</a></h5>
        <br>
    </div>
</body>
</html> 