<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 3</title>
    <link rel="stylesheet" href="style-page3.css">
</head>
<body>
    <main>
        <section>
            <article>
                <header>
                    <h1>Post 1</h1>
                </header>
                <hr>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, placeat corporis quod consequatur in sunt cum? Quas aliquam cumque ipsa magnam placeat dolorum impedit iusto inventore nesciunt maiores. Quia, vel.</p>
                <footer>
                    <small>Autor: Desconhecido</small>
                </footer>
            </article>
            <article>
                <header>
                    <h1>Post 2</h1>
                </header>
                <hr>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tenetur maiores ducimus recusandae delectus, adipisci quis omnis odit dolores necessitatibus. Ad repellendus neque, repudiandae fugit porro cupiditate excepturi modi! Porro?</p>
                <footer>
                    <small>Autor: Conhecido</small>
                </footer>
            </article>
        </section>
        <br>
        <aside>Conteúdo relacionado...</aside>

    </main>
</body>
</html>