<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 2</title>
    <link rel="stylesheet" href="style-page2.css">
</head>
<body>
    <h3>Lista de definição</h3>
    <dl> <!-- Definition List -->
        <dt>Caracteristicas do produto</dt> <!-- Definição de Termo -->
        <dd>Mais opções de cores</dd>
        <dd>Novos modelos e formatos</dd>
        <dt>Novos itens de segurança</dt>
        <dd>Agora com freios que funcionam</dd>
    </dl>

    <div class="div1">
        <p>
            Texto de um <b>parágrafo</b> com <span>palavra</span> marcada com o elemento <strong>SPAN.</strong> <!-- Priorizar a tag <strong></strong> é a mesma coisa que o bold (ambos são TAG inline) -->
        </p>
    </div>
    <div class="div2">
<code>Lorem</code> &nbsp; &nbsp; &nbsp; ipsum dolor sit amet consectetur, adipisicing elit. Nihil, sunt nostrum illo laudantium, nulla quos asperiores debitis velit, modi reprehenderit quaerat. Blanditiis ab, sed cumque laboriosam possimus aperiam sapiente perferendis?
    </div> <!-- &nbsp; serve para dar espaço entre textos -->

    <small>Teste &eg; &copy;</small> <!-- TAG inline -->

    <svg width="100" height="100">
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="4" fill="gray" />
      </svg>
</body>
</html>