.div1 {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 4px black dotted;
}

.div2 {
    background-color: coral;
}

span {
    background-color: orange;
    border: 2px black solid;
    border-radius: 50%;
    padding: 2px;
}