body {
    background-color: #121214;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    margin-top: 50%;
}

.teclado {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#display {
    font-size: large;
    font-weight: bold;
}

.botoes {
    display: flex;
    flex-direction: row;
}

.operacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}